
.table-container{
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.table-container .header{
	font-weight: bold;

	display: table;

	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding-right: 17px;

	color: #4B4B4B;
	background: #7ECC74;
}
div.panel-body{
	padding:0;
}
.table-container .raiting-table__header{
	display: table-row;

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	list-style: none;
}
.table-container .raiting-table__header li{
	display: table-cell;

	height: 50px;

	text-align: center;
	vertical-align: middle;
}
.table-container .raiting-table--scroll{
	overflow-y: scroll;

	height: 500px;
}
.table-container .raiting-table__body{
	width: 100%;
	display: table;
}
td:not(:nth-of-type(2)){
	text-align: center;
}
.table-container .raiting-table__body ul,
.table-container .raiting-table__body div{
	height: 2.5em;
	display: table;
	width: 100%;
	margin:0;
	padding:0;
}
div.raiting-table__body ul:nth-child(2n){
	background: #B6FCD0;
}
.table-container .raiting-table__body div{
	height: 0;
}
.table-container div.raiting-table__body li{
	display: table-cell;
	vertical-align: middle;
}
/* .table-container .raiting-table__body:nth-child(2n){
	background: #C2FDC8;
} */
.data2,.data3,.data4,.data5,.data6,.data7{
	width: 13%;
	text-align: center;
}
.data1{
	width: 35%;
	padding: 0 0 0 15px;
	cursor: pointer;
}
.hide{
	display: none;
}
