.category-tree {
    margin: 0;
    padding: 0;
}
.category-tree a{
    text-decoration:none;
    color: #444;
}
.category-tree ul {
    margin: 0;
    padding: 0 0 0 0px;
    margin-bottom: 6px;
}
.category-tree li {
    list-style-type: none;
    position: relative;
}
.category-tree a {
    cursor: pointer;
}
.category-tree li:before {
    content: "";
    display: inline-block;
    font-size: 13px;
    height: 11px;
    line-height: 7px;
    margin: 3px 7px 0 0;
    text-align: center;
    vertical-align: top;
    width: 11px;
    position: absolute;
    top:0;
    left:0;
}
.category-tree:not(:first-child):before,
.category-tree .has-children.open:not(:first-child):before{
    display: none;
}
.category-tree .has-children:first-child:before {
    border: 1px solid black;
    content: "+";
    cursor: pointer;
}
.category-tree .has-children.open:before {
    content: "-";
    cursor: pointer;
}