.category-tree{
    margin: 0;
    padding: 0;
}
.category-tree a{
    text-decoration: none;

    color: #444;
}
.category-tree ul{
    margin: 0;
    margin-bottom: 6px;
    padding: 0 0 0 0;
}
.category-tree li{
    position: relative;

    list-style-type: none;
}
.category-tree a{
    cursor: pointer;
}
.category-tree li:first-of-type::before{
    font-size: 13px;
    line-height: 7px;

    position: absolute;
    top: 8px;
    left: 0;

    display: inline-block;

    width: 11px;
    height: 11px;
    margin: 3px 7px 0 0;

    content: '';
    text-align: center;
    vertical-align: middle;
}
ul.raiting-table__row:hover{
    background: #E1E1E1;
}
.category-tree:not(:first-child):before, .category-tree .has-children.open:not(:first-child):before{
    display: none;
}
.category-tree .has-children:first-child:before{
    content: '+';
    cursor: pointer;

    border: 1px solid black;
}
.category-tree .has-children.open:before{
    content: '-';
    cursor: pointer;
}